body {
  background: white;
  display: flex;
  min-height: 100vh;
  text-align: center;
}
nav{
  flex: 2;
  background: #D7E8D4;
}
.container{
  flex: 5;
  flex-direction: column;
  display: flex;
}
main{
  flex-direction: row;
  display: flex;
}
article{
  flex:3;
  background: #7d8de4;
  height: 60vh;
  display: flex;
  align-items: center;
}
aside{
  flex: 3;
  background: #6adcff;
  height: 60vh;
}
header, footer {
  background: yellowgreen;
  height: 20vh;
}